:root {
    --branding-color: #b15536;
    --secondary-color: #f2ece8;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", serif;
}

body {
    background-color: var(--secondary-color);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
    url("../img/hero.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-color);
    text-align: center;
    padding: 200px 0;
}

header h1{
    font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}

header h2 {
    font-family: var(--heading-font-family);
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-family: var(--default-font-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
}

header a {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--branding-color);
    text-decoration: none;
    padding: 16px 32px;
    display: inline-block;
    margin: 32px;

}

header a:hover {
    background-color: var(--branding-color);
    color: var(--secondary-color);
}


h1 {
    line-height: 144px;
}

p {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.card {
    background-color: white;
}

.card h4 {
    padding-left: 30px;
    margin-top: 10px;
}

.card p {
    padding-left: 30px;
     margin-top: 10px; 
}

.card h5 {
    padding-left: 30px;
     margin-top: 10px;
}

.btn {
    display: block;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px;
    background-color: var(--branding-color);
}

.btn:hover {
    color: var(--branding-color);
    background-color: var(--secondary-color);
    text-decoration: none;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

section.secondary {
    background-color: #f8f8f8;
}

main {
    background-color: white;
}

main h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    color: black;
    text-transform: uppercase;
}

main h3 {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: var(--branding-color);
    font-family: var(--heading-font-family);;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

main h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
    color: black;
    font-family: var(--heading-font-family);
}

main h5 {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.5;
    color: black;
}


footer {
    background-color: var(--branding-color);
    color: var(--secondary-color);
    padding: 100px;
}

footer h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

footer ul {
    padding: 0;
}

footer li {
    list-style-type: none;
}

footer a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

footer a:hover {
    text-decoration: underline;
}

.underlined {
    text-decoration: underline;
}

.grid {
    display: grid;
    gap: 20px;
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.grid-3-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cherry {
  width: 470px;
  height: 380px;
  aspect-ratio: 4 / 3;     /* keeps a nice proportion */
  object-fit: cover;       /* crop instead of squish */
  object-position: center; /* centre the focal point */
  display: block;
  max-width: 100%;
}

.text-center {
    text-align: center;
}

.embed {
    width: 100%;
    aspect-ratio: 1 /1;
}


@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }
    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 20px;
    }

    header h3 {
        font-size: 12px;
    }

     .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    }

    section {
        padding: 30px;
    }
}